<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/X-admin/css/font.css">
    <link rel="stylesheet" href="/static/X-admin/css/xadmin.css">
    <script type="text/javascript" src="/static/X-admin/lib/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/X-admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/X-admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .upImg {
            width: 140px;
            padding: 0 5px;
        }
    </style>
</head>

<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">

        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);"
            title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
        <div class="x-body layui-anim layui-anim-up">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label for="L_username" class="layui-form-label">
                        <span class="x-red">*</span>标题
                    </label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_username" class="layui-form-label">
                        <span class="x-red">*</span>排序
                    </label>
                    <div class="layui-input-block">
                        <input type="text" name="ord" lay-verify="required" value="0" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_username" class="layui-form-label">
                        <span class="x-red">*</span>URL
                    </label>
                    <div class="layui-input-block">
                        <input type="text" name="url" required="" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>图片上传
                    </label>
                    <div class="layui-input-inline">
                        <div class="layui-upload">
                            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                                <div class="layui-upload-list" id="demo2"></div>
                            </blockquote>
                            <input type="hidden" name="img" lay-verify="img" value="" id="img">
                        </div>
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" id="test2">选择图片</button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <a href="javascript:;" class="layui-btn layui-btn-danger" style="margin:25px 20% 50px 0;float:right"
                        id="close">取&nbsp;消</a>
                    <button class="layui-btn " lay-filter="save" lay-submit type="button" style="margin:25px 5% 50px 0;float:right">保&nbsp;存</button>
                </div>
            </form>
        </div>

    </div>
</body>
<script src="/static/X-admin/js/slide_add.js"></script>
<script>

</script>

</html>