<!-- <div class="header">
    <div class="container">
        <div class="left">
            <span><i class="fa fa-home"></i><a href="">京东首页</a></span>
            <span><i class="fa fa-map-marker"></i><a href="">北京</a></span>
        </div>
        <div class="right">
            <a href="">你好，请登录</a><span>|</span>
            <a href="">免费注册</a><span>|</span>
            <a href="">我的订单</a><span>|</span>
            <a href="">我的京东</a><i class="fa fa-angle-down" style="font-size: 16px;color:gray;"></i><span>|</span>
            <a href="">京东会员</a><span>|</span>
            <a href="">企业采购</a><span>|</span>
            <a href="">客户服务</a><span>|</span>
            <a href="">网站导航</a><span>|</span>
            <a href="">手机京东</a>
        </div>
    </div>
</div> -->

{include file="/index/header"}

<div style="background: #fff;padding-bottom: 60px;">
    <div class="container quicklink">
        <div style="float: left;padding: 0px;" class="col-xs-3 col-sm-3 col-lg-3">
            <a href="" style="float: left;"><img src="/static/images/2.png"></a>
            <span style="font-size: 20px;color: #666;float: left;margin-top: 20px;margin-left: 20px;margin-right: 10px;">手机</span>
            <select style="float: left;margin-top: 20px;height: 25px;">
                <option>全部分类</option>
            </select>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-6 search">
            <input type="text" name="" placeholder="手机"><button>搜索</button>
            <div class="quick"><a href="">手机盛典</a><a href="">iPhone</a><a href="">小米</a><a href="">OPPO</a><a href="">荣耀</a><a
                    href="">vivo</a><a href="">精选配件</a><a>1元享800M</a></div>
        </div>
        <div class="col-xs-3 col-sm-3 col-lg-3 cart">
            <a href="" class="qrcode"><i class="fa fa-qrcode" style="float: left;"></i>
                <div style="float: left;line-height: 32px;margin-right: 12px;">扫码享受优惠</div>
            </a>
            <a href="/index.php/index/member/carts" class="mycart">我的购物车<i class="fa fa-shopping-cart"></i>{$cart_count}</a>
        </div>
    </div>
</div>

<div class="header2">
    <div class="container">
        <div class="left">
            <a href="">手机</a><i class="fa fa-angle-right"></i>
            <a href="">手机通讯</a><i class="fa fa-angle-right"></i>
            <a href="">手机</a><i class="fa fa-angle-right"></i>
            <a href="">Apple</a><i class="fa fa-angle-right"></i>
            <a>AppleiPhone X</a>
        </div>
        <div class="right">
            <div class="jdprivate">
                <div class="jd">JD</div>
                <div class="private">自营</div>
            </div>
            <a href="">京东Apple产品专营店</a>
            <a href=""><img src="/static/images/sprite-gys-im.gif">联系供应商</a>
            <a href=""><i class="fa fa-weixin" style="color: RGB(56,151,231);"></i>JDMI</a>
            <a href=""><i class="fa fa-star" style="color: red;margin-right: 5px;"></i>关注店铺</a>
        </div>
    </div>
</div>