<!DOCTYPE html>
<html>
<head>
	<title>手机_手机通讯</title>
	<link rel="stylesheet" type="text/css" href="/static/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/plugins/swiper/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/site.css">
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/plugins/swiper/js/swiper.min.js"></script>
</head>
<body>
	{include file="/index/header"}

	<div style="background: #fff;padding-bottom: 60px;">
		<div class="clear adv container">
			<a href=""><img src="/static/images/1.jpg"></a>
			<a href="javascript:;" onclick="$(this).parent('div').hide();" class="closes"><i class="fa fa-close"></i></a>
		</div>

		<div class="container quicklink">
			<div style="float: left;padding: 0px;" class="col-xs-3 col-sm-3 col-lg-3">
				<a href="" style="float: left;"><img src="/static/images/2.png"></a>
				<span style="font-size: 20px;color: #666;float: left;margin-top: 20px;margin-left: 20px;margin-right: 10px;">手机</span>
				<select style="float: left;margin-top: 20px;height: 25px;">
					<option>全部分类</option>
				</select>
			</div>
			<div class="col-xs-6 col-sm-6 col-lg-6 search">
				<input type="text" name="" placeholder="手机"><button>搜索</button>
				<div class="quick"><a href="">手机盛典</a><a href="">iPhone</a><a href="">小米</a><a href="">OPPO</a><a href="">荣耀</a><a href="">vivo</a><a href="">精选配件</a><a>1元享800M</a></div>
			</div>
			<div class="col-xs-3 col-sm-3 col-lg-3 cart">
				<a href="" class="qrcode"><i class="fa fa-qrcode" style="float: left;"></i><div style="float: left;line-height: 32px;margin-right: 12px;">扫码享受优惠</div></a>
				<a href="/index.php/index/member/carts" class="mycart">我的购物车<i class="fa fa-shopping-cart"></i>{$cart_count}</a>
			</div>
		</div>
	</div>

	<div class="cate-nav grayback">
		<div class="container">
			<div class="cates col-sm-2">
				<div class="cate-name">手机分类</div>
				<div class="cate-list">
					<p>热门推荐 <i class="fa fa-angle-right"></i></p>
					<ul class="lists">
						<li><a href="">iphone</a></li>
						<li><a href="">荣耀</a></li>
						<li><a href="">小米</a></li>
						<li><a href="">华为</a></li>
						<li><a href="">vivo</a></li>
						<li><a href="">OPPO</a></li>
					</ul>
				</div>
				<div class="cate-list">
					<p>热门分类 <i class="fa fa-angle-right"></i></p>
					<ul class="lists">
						<li><a href="">全部手机</a></li>
						<li><a href="">游戏手机</a></li>
						<li><a href="">老人机</a></li>
						<li><a href="">拍照神器</a></li>
						<li><a href="">全面屏</a></li>
						<li><a href="">女性手机</a></li>
					</ul>
				</div>
				<div class="cate-list">
					<p>运营商 <i class="fa fa-angle-right"></i></p>
					<ul class="lists">
						<li><a href="">营业厅</a></li>
						<li><a href="">选号码</a></li>
						<li><a href="">4G套餐</a></li>
						<li><a href="">买手机</a></li>
						<li><a href="">装宽带</a></li>
						<li><a href="">充话费</a></li>
					</ul>
				</div>
				<div class="cate-list">
					<p>手机配件 <i class="fa fa-angle-right"></i></p>
					<ul class="lists">
						<li><a href="">充电宝</a></li>
						<li><a href="">数据线</a></li>
						<li><a href="">手机壳</a></li>
						<li><a href="">手机贴膜</a></li>
						<li><a href="">手机支架</a></li>
						<li><a href="">潮玩周边</a></li>
					</ul>
				</div>
				<div class="cate-list" style="padding-bottom: 8px;border-bottom: none;">
					<div class="col-xs-4 col-sm-4" style="border-right: dashed 1px #cdcdcd;">
						<div><i class="fa fa-mobile"></i></div>
						<div style="font-size: 12px;">充值中心</div>
					</div>
					<div class="col-xs-4 col-sm-4" style="border-right: dashed 1px #cdcdcd;">
						<i class="fa fa-wrench"></i>
						<div style="font-size: 12px;">手机维修</div>
					</div>
					<div class="col-xs-4 col-sm-4">
						<i class="fa fa-shield"></i>
						<div style="font-size: 12px;">二手回收</div>
					</div>
				</div>
			</div>
			<div class="slides col-sm-10">
				<div class="nav">
					<a href="">新phone尚</a>
					<a href="">手机好店</a>
					<a href="">游戏手机</a>
					<a href="">配件</a>
					<a href="">营业厅</a>
					<a href="">玩3C</a>
					<a href="">企业购</a>
					<a href="">以旧换新</a>
					<a href="">社区</a>
					<a href="">京东之家</a>
					<a href=""><i class="fa fa-heart" style="color: #666;margin-right: 5px;"></i>关注频道</a>
				</div>
				<div class="slide-items">
					<div class="swiper-container">
			            <div class="swiper-button-prev"></div>
			            <div class="swiper-button-next"></div>
			            <div class="swiper-wrapper">
							{foreach $slides as $slide}
							<div class="swiper-slide"><div class="swiper-zoom-container"><a href="{$slide.url}" target="_blank" rel="noopener noreferrer"><img src="/uploade/{$slide.img}" /></a></div></div>
							{/foreach}
			                <!-- <div class="swiper-slide"><div class="swiper-zoom-container"><img src="/static/images/3.jpg"/></div></div>
			                <div class="swiper-slide"><div class="swiper-zoom-container"><img src="/static/images/4.jpg"/></div></div>
			                <div class="swiper-slide"><div class="swiper-zoom-container"><img src="/static/images/5.jpg"/></div></div>
			                <div class="swiper-slide"><div class="swiper-zoom-container"><img src="/static/images/6.jpg"/></div></div>
			                <div class="swiper-slide"><div class="swiper-zoom-container"><img src="/static/images/7.jpg"/></div></div>
			                <div class="swiper-slide"><div class="swiper-zoom-container"><img src="/static/images/8.jpg"/></div></div>
			                <div class="swiper-slide"><div class="swiper-zoom-container"><img src="/static/images/9.jpg"/></div></div> -->
			            </div>
						<div class="swiper-pagination"></div>
			        </div>
				</div>
			</div>
		</div>
	</div>

	<div class="recommend-nav container" mouse_flag=0>
		<ul>
			<li class="col-sm-4 active">
				<a href="">
					<div>
						<p class="title">新phone尚</p>
						<p class="desc">魅族15火爆开售</p>
						<p class="go">GO</p>
					</div>
					<img src="/static/images/10.png">
				</a>
			</li>
			<li class="col-sm-2">
				<a href="">
					<div>
						<p class="title">游戏手机</p>
						<p class="desc">荣耀10新品开售</p>
						<p class="go">GO</p>
					</div>
					<img src="/static/images/11.png">
				</a>
			</li>
			<li class="col-sm-2">
				<a href="">
					<div>
						<p class="title">京东网厅</p>
						<p class="desc">iphoneX立减550</p>
						<p class="go">GO</p>
					</div>
					<img src="/static/images/12.png">
				</a>
			</li>
			<li class="col-sm-2">
				<a href="">
					<div>
						<p class="title">手机好店</p>
						<p class="desc">OPPO R15现货开抢</p>
						<p class="go">GO</p>
					</div>
					<img src="/static/images/13.png">
				</a>
			</li>
			<li class="col-sm-2">
				<a href="">
					<div>
						<p class="title">手机配件</p>
						<p class="desc">领券直降50元</p>
						<p class="go">GO</p>
					</div>
					<img src="/static/images/14.png">
				</a>
			</li>
		</ul>
	</div>

	<!--热门、新品-->
	<div class="hot-news container">
		<div class="col-sm-6 hot" style="padding-right: 10px;">
			<p>热门推荐</p>
			<div class="lists">
				<ul>
					{foreach $recoms as $recom}
					<li class="col-xs-4 col-sm-4">
						<a href="/index.php/index/index/details?num={$recom.pro_no}" target="_blank"><img src="/uploade/{$recom.img}"></a>
						<a href="/index.php/index/index/details?num={$recom.pro_no}" target="_blank" title="{$recom.title}">
							<div class="desc">{$recom.title}</div>
						</a>
						<div class="price">¥{$recom.price}</div>
					</li>
					{/foreach}
				</ul>
			</div>
		</div>
		<div class="col-sm-6 news" style="padding-left: 10px;">
			<p>新品首发</p>
			<div class="lists">
				<ul>
					<li class="col-xs-4 col-sm-4">
						<a href=""><img src="/static/images/news1.jpg"></a>
						<a href="" title="vivo X21 全面屏 双摄美颜拍照手机 6GB+128GB 黑金 移动联通电信全网通4G手机 双卡双待">
							<div class="desc">vivo X21 全面屏 双摄美颜拍照手机 6GB+128GB 黑金 移动联通电信全网通4G手机 双卡双待</div>
						</a>
						<div class="price">¥3298.00</div>
					</li>
					<li class="col-xs-4 col-sm-4">
						<a href=""><img src="/static/images/news2.jpg"></a>
						<a href="" title="Apple iPhone 8 Plus 64GB 红色特别版 移动联通电信4G手机">
							<div class="desc">Apple iPhone 8 Plus 64GB 红色特别版 移动联通电信4G手机</div>
						</a>
						<div class="price">¥5999.00</div>
					</li>
					<li class="col-xs-4 col-sm-4">
						<a href=""><img src="/static/images/news3.jpg"></a>
						<a href="" title="OPPO R15 全面屏双摄拍照手机 4G+128G 星空紫 全网通 移动联通电信4G 双卡双待手机">
							<div class="desc">OPPO R15 全面屏双摄拍照手机 4G+128G 星空紫 全网通 移动联通电信4G 双卡双待手机</div>
						</a>
						<div class="price">¥2699.00</div>
					</li>
					<li class="col-xs-4 col-sm-4">
						<a href=""><img src="/static/images/news4.jpg"></a>
						<a href="" title="锤子（smartisan ) 坚果 Pro 2 4G+64GB 碳黑色 全面屏双摄  全网通4G手机 双卡双待">
							<div class="desc">锤子（smartisan ) 坚果 Pro 2 4G+64GB 碳黑色 全面屏双摄  全网通4G手机 双卡双待</div>
						</a>
						<div class="price">¥1999.00</div>
					</li>
					<li class="col-xs-4 col-sm-4">
						<a href=""><img src="/static/images/news5.jpg"></a>
						<a href="" title="360手机 N6 Pro 全网通 4GB+64GB 深海蓝 移动联通电信4G手机 双卡双待 全面屏 游戏手机">
							<div class="desc">360手机 N6 Pro 全网通 4GB+64GB 深海蓝 移动联通电信4G手机 双卡双待 全面屏 游戏手机</div>
						</a>
						<div class="price">¥1499.00</div>
					</li>
					<li class="col-xs-4 col-sm-4">
						<a href=""><img src="/static/images/news6.jpg"></a>
						<a href="" title="Apple iPhone X (A1865) 256GB 深空灰色 移动联通电信4G手机">
							<div class="desc">Apple iPhone X (A1865) 256GB 深空灰色 移动联通电信4G手机</div>
						</a>
						<div class="price">¥9605.00</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="new-product container">
		<p>新品专区</p>
		<div class="col-sm-4 product-container">
			<div class="item">
				<p>
					<span style="float: left;font-weight: 700"><i class="fa fa-video-camera" style="margin-right: 5px;font-size: 16px;"></i>视频</span>
					<span style="float: right;">更多<i class="fa fa-angle-right" style="margin-left: 5px;"></i></span>
				</p>
				<img src="/static/images/video.png" style="margin-top: 10px;width: 100%">
				<div class="col-sm-6" style="padding: 0px;">
					<img src="/static/images/video2.png" style="width: 100%">
				</div>
				<div class="col-sm-6" style="padding: 0px;">
					<img src="/static/images/video3.png" style="width: 100%">
				</div>
			</div>
		</div>

		<div class="col-sm-4 product-container">
			<div class="item">
				<p style="margin-bottom: 20px;">
					<span style="float: left;font-weight: 700"><i class="fa fa-smile-o" style="margin-right: 5px;font-size: 18px;"></i>爆款评测</span>
				</p>
				<div class="clear lists">
					<img src="/static/images/test1.jpg">
					<div class="detail">
						<p style="float: left;">会变色更潮美的手机了解下</p>
						<p>更多&nbsp;<i class="fa fa-angle-right"></i></p>
					</div>
				</div>
				<div class="clear lists">
					<img src="/static/images/test2.jpg">
					<div class="detail">
						<p style="float: left;">这一回，心甘情愿做个花粉</p>
						<p>更多&nbsp;<i class="fa fa-angle-right"></i></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4 product-container">
			<div class="item" style="padding-bottom: 40px;">
				<p style="margin-bottom: 20px;">
					<span style="float: left;font-weight: 800"><i class="fa fa-file-text-o" style="margin-right: 5px;font-size: 18px;"></i>潮机推荐</span>
					<span style="float: right;">更多<i class="fa fa-angle-right" style="margin-left: 5px;"></i></span>
				</p>
				<div class="clear art-lists">
					<a href="">
						<img src="/static/images/article1.jpg">
						<div class="detail">
							<p style="float: left;">黑金美学来袭！X21黑金版颜值逆天，体验超赞！</p>
							<div>前几天，vivo公布了全新配色X21黑金版，时尚的机身外观、侧边提琴线设计令很多朋友非常心动。盼望着，盼望着，X21黑金版终于在今天迎来了全面开售。</div>
						</div>
					</a>
				</div>
				<div class="clear art-lists">
					<a href="">
						<img src="/static/images/article2.jpg">
						<div class="detail">
							<p style="float: left;">黑金美学来袭！X21黑金版颜值逆天，体验超赞！</p>
							<div>前几天，vivo公布了全新配色X21黑金版，时尚的机身外观、侧边提琴线设计令很多朋友非常心动。盼望着，盼望着，X21黑金版终于在今天迎来了全面开售。</div>
						</div>
					</a>
				</div>
				<div class="clear art-lists">
					<a href="">
						<img src="/static/images/article3.jpg">
						<div class="detail">
							<p style="float: left;">黑金美学来袭！X21黑金版颜值逆天，体验超赞！</p>
							<div>前几天，vivo公布了全新配色X21黑金版，时尚的机身外观、侧边提琴线设计令很多朋友非常心动。盼望着，盼望着，X21黑金版终于在今天迎来了全面开售。</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="adv container">
		<div class="col-sm-4"><a href=""><img src="/static/images/adv1.jpg"></a></div>
		<div class="col-sm-4"><a href=""><img src="/static/images/adv2.jpg"></a></div>
		<div class="col-sm-4"><a href=""><img src="/static/images/adv3.jpg"></a></div>
	</div>

	<div style="background: #eaeaea;text-align: center;margin-top: 20px;">
		<img src="/static/images/footer.png">
	</div>

</body>
</html>
<script src="/static/plugins/layui/layui.js"></script>
<script src="/static/js/login.js"></script>
<script type="text/javascript">
	var swiper = new Swiper({
        el: '.swiper-container',
        //开启焦距功能
        loop:true,
        //初始化显示哪个滑块，从0开始
        initialSlide:0,
        //slide之间的距离（单位px）
        spaceBetween: 5,
        //每页显示多少个图片
        slidesPerView: 1,
        //设定为true时，活动块会居中，而不是默认状态下的居左,(carousel模式)
        centeredSlides: false,
        //设置为true则点击slide会过渡到这个slide
        slideToClickedSlide: true,
        //变手
        grabCursor: true,
        //添加分页导航
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        //前进后退按钮
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        autoplay: {
            delay: 3000,
            //用户操作swiper之后，是否禁止autoplay。默认为true：停止。
            //如果设置为false，用户操作swiper之后自动切换不会停止，每次都会重新启动autoplay。
            //操作包括触碰，拖动，点击pagination等。
            disableOnInteraction: false,
         },
    });

	$('.recommend-nav li').on('mouseover',function(){
		$(this).removeClass('col-sm-2').addClass('col-sm-4 active').siblings('li').removeClass('col-sm-4 active');
	});

</script>